 body {
     margin: 0;
     padding: 0;
     height: 100vh;
     position: relative;
     background: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/indoor-workout-1524495411.jpg?crop=1.00xw:0.751xh;0,0&resize=980:*);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
         Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

 }

 .modalhealthkart {
     box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
     z-index: 10;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 45.6%;
     height: 550px;
     background: #fff;
     border-radius: 4px;
     display: flex;
     overflow: hidden;
     max-height: 550px;
     max-width: 700px;
 }

 .overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.7);
     backdrop-filter: blur(0.1px);
     z-index: 5;
 }

 .signUp-left-section {
     width: 44.57%;
     height: 100%;
     display: flex;
     background: url(https://img4.hkrtcdn.com/react/static/media/signupFlow/login-bg.png);
     background-repeat: no-repeat;
     background-size: 100% 100%;
 }

 .signUp-left-section-content {
     padding: 8.2% 4.5% 11.3% 10%;
     height: 89%;
     width: 85.25%;
     display: flex;
     flex-direction: column;
 }

 .signUp-left-section-content>h4 {
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
         Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: 600;
     font-size: 28px;
     line-height: 40px;
     color: #fff;
     margin: 0 0 8%;
     height: 38px;
 }

 .signUp-left-section-features {
     display: flex;
     position: relative;
 }

 .signUp-left-section-features>img {
     height: 16px;
     width: 16px;
     position: absolute;
     top: 2px;
     left: 0;
 }

 .signUp-left-section-features>div {
     margin-left: 28px;
     font-weight: 500;
     font-size: 16px;
     letter-spacing: .16px;
     line-height: 21px;
     color: #fff;
     margin-bottom: 18px;
 }

 .signUp-right-section {
     width: 55.428%;
     height: 100%;
 }

 .signUp-right-section-content {
     left: 0;
     padding-left: 8.3%;
     padding-right: 8%;
     padding-top: 6.7%;
     height: 92.7%;
 }

 .signUp-right-section-close-button {
     border: 0;
     top: 17px;
     right: 16px;
     z-index: 99;
     width: 20px;
     height: 20px;
     position: absolute;
     font-weight: 100;
     cursor: pointer;
 }

 .login-signUp-list {
     border-bottom: 3px solid #f4f4f4;
     list-style: none;
     margin: 0 0 3%;
     padding: 0;
 }

 .login-signUp-tab {
     display: inline-block;
     width: inherit;
     font-size: 16px;
     color: #666670;
     cursor: pointer;
     padding: 10px 29px;
     line-height: 21px;
     position: relative;
     letter-spacing: .32px;
     font-weight: 500;
 }

 .login-signUp-list>li:nth-child(2) {
     border-bottom: 4px solid #00aeae;
     color: #00aeae !important;
     border-radius: 1px;
 }

 .signUp-section {
     display: flex;
     flex-direction: column;
     /* height: 340px; */
 }

 .healthkart-signUp-form {
     display: block;
     margin-top: 0em;
 }

 .signUp-section {
     display: flex;
     flex-direction: column;
 }

 .healthkart-signUp-form-label {
     font-size: 14px;
     font-weight: 400;
     line-height: 19px;
     color: #393939;
     display: block;
     margin-bottom: 5px;
 }

 .healthkart-signUp-form-input {
     border: 1px solid #c6c6c6;
     border-radius: 4px;
     height: 40px;
     padding: 0 0 0 12px;
     margin-top: 1%;
     letter-spacing: .16px;
     margin-bottom: 2%;
     width: 97%;

 }

 .healthkart-signUp-form-input:focus {
     border: #00aeae solid 2px;
 }

 .healthkart-signUp-form-button {
     background-color: #00aeae;
     border-radius: 4px;
     height: 40px;
     padding: 0;
     margin: 0;
     color: #fff;
     font-size: 16px;
     letter-spacing: .32px;
     line-height: 30px;
     text-transform: uppercase;
     font-weight: 500;
     cursor: pointer;
     box-shadow: none;
     border: 0;
     width: 100%;
     margin-top: 2%;
 }

 .signUp-section-form-or {
     margin: 32.8px 0 16px;
     position: relative;
 }

 .signUp-section-form-or>span {
     font-weight: 400;
     color: #161616;
     font-size: 14px;
     line-height: 19px;
     padding: 0 14px;
     background-color: #fff;
     position: absolute;
     z-index: 2;
     bottom: 5px;
     left: 43%;
 }

 .signUp-section-form-or>div {
     position: absolute;
     border-bottom: 1px solid #cdcfd2;
     width: 100%;
     height: 2px;
     bottom: 9px;
 }

 .signUp-integration {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .signUp-icon-container {
     display: inline-block;
     border-radius: 4px !important;
     width: 47%;
     text-align: center;
     border-radius: 4px;
     padding: 12px 0;
     border: 1px solid #e0e0e0;
     cursor: pointer;
 }

 .signUp-icon-container>img {
     vertical-align: middle;
     width: 16px;
 }

 .signUp-icon-text {
     font-size: 14px;
     letter-spacing: .28px;
     color: #525252;
     margin-left: 8px;
     vertical-align: middle;
 }

 .signUp-section-footer {
     position: absolute;
     bottom: 0;
     text-align: center;
     transform: translateX(-8%);
     width: 55%;
 }

 .signUp-section-footer>p {
     padding-top: 14px;
     border-top: 1px solid #c6c6c6;
     font-size: 12px;
     text-align: center;
     color: #666;
     line-height: 16px;
     display: inline-block;
     width: 100%;
     position: relative;
     content: "";
     margin-top: 24px;
 }